body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.register {
    padding: 220px;
}
#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 350px;
    height: 400px;
    margin: 0 auto;
}


#registerForm ul li{
    display: flex;
    list-style-type: none;
    margin-left: -38px;
    padding-bottom: 8%;
}

#registerForm ul li button{
    display: flex;
    margin-left: 30%;
    margin-top: 20px;
}